In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import missingno as msno
import janitor

from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
from sklearn.linear_model import BayesianRidge

plt.style.use("default")

In [4]:
np.random.seed(42)

data = {
    "voltage": np.random.normal(120, 5, 100),
    "current": np.random.normal(10, 2, 100),
    "power": np.random.normal(1200, 150, 100)
}

df = pd.DataFrame(data)

# Introducimos valores faltantes artificiales
df.loc[df.sample(frac=0.15).index, "voltage"] = np.nan
df.loc[df.sample(frac=0.10).index, "current"] = np.nan
df.loc[df.sample(frac=0.05).index, "power"] = np.nan

df.head()

      voltage   current        power
0  122.483571  7.169259  1253.668104
1  119.308678  9.158709  1284.117679
2         NaN  9.314571  1362.457686
3  127.615149       NaN  1358.070308
4  118.829233  9.677429   993.349595